.main {
  text-align: center;
  .inputBox {
    display: flex;
    margin: 0 auto;
    .inputs {
      margin: 0 auto;
      input {
        margin: 10px;
      }
      button {
        margin: 5px;
      }
    }
  }
  .container {
    display: flex;
    margin: 0 auto;
  }
}
