.userId {
  text-align: right;
}

.main {
  text-align: center;
  .inputBox {
    display: flex;
    margin: 0 auto;
    .inputs {
      margin: 0 auto;
      input {
        margin: 10px;
      }
      button {
        margin: 5px;
      }
    }
  }
  .container {
    display: flex;
    margin: 0 auto;
  }

  .lodging_overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}
