.box {
  margin: 0 auto;
  display: flex;

  .text {
    margin: 0 auto;
  }
  .squares {
    margin: 0 auto;
  }
}
.squaresBox {
  margin: 100px auto;

  .squares {
    display: flex;
    :hover {
      background-color: gray;
    }
  }
  .overlay {
    height: 100%;
    width: 100%;
    background: rgba(90, 88, 88, 0.7);
    .startText {
      position: absolute;
      z-index: 1;
      cursor: pointer;
    }
  }
}
