.main {
  display: flex;
  margin: 0 auto;

  textarea {
    resize: vertical;
    resize: auto;
    max-width: 500px;
    max-height: 500px;
    min-width: 400px;
    min-height: 300px;
    width: 400px;
    height: 300px;
  }
  .container {
    margin: 0 auto;
    .box {
      margin: 0 auto;
      button {
        padding: 0;
        font-family: inherit;
        appearance: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }

      /* ボタンのスタイル */
      .buttonOutline {
        align-items: center;
        justify-content: center;
        width: 50%;
        max-width: 100px;
        height: 32px;

        font-family: sans-serif;
        font-size: 8px;
        color: #6fa24a;
        text-align: center;
        overflow-wrap: anywhere;
        background-color: transparent;
        border: 2px solid #6fa24a;
      }

      @media (any-hover: hover) {
        .buttonOutline {
          transition: background-color 0.2s;
        }

        .buttonOutline:hover {
          background-color: #dcedd2;
        }
      }
    }
  }
}
