.box {
  cursor: pointer;
  margin: 0 auto;
  .itemBox {
    display: flex;
    text-align: left;
    min-width: 100px;
    margin: 20px;
    padding: 10px;

    .itemName {
    }
    button {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
