.box {
  margin: 0 auto;

  .container {
    display: flex;

    .itemBox {
      display: flex;
      text-align: left;

      width: 200px;
      margin: 10px;
      padding: 10px;

      button {
        cursor: pointer;
      }
    }
  }
}

.leftArrowBlock {
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: -15px;
}

.rightArrowBlock {
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: 210px;
}
.ArrowNone {
  display: none;
}
.noselectDeleteIcon {
  user-select: none;
  opacity: 0.4;
  margin-left: auto;
}
.selectDeleteIcon {
  user-select: all;
  cursor: pointer;
  margin-left: auto;
  :hover {
    opacity: 0.8;
  }
}
