.box {
  margin: 0 auto;
  width: 400px;
  height: 700px;
  background-color: rgb(187, 183, 183);
  border-radius: 40px;
  .ModalBtn {
    position: absolute;
    margin-left: 350px;
    margin-top: -53px;
  }
  .container {
    display: flex;
    margin: 0 100px;
    .itemBox {
      display: flex;
      text-align: left;

      width: 250px;
      margin: 10px;
      padding: 10px;

      button {
        cursor: pointer;
      }
    }
  }
}

.leftArrowBlock {
  cursor: pointer;
  position: absolute;
  margin-top: 16px;
  margin-left: -15px;
}

.rightArrowBlock {
  cursor: pointer;
  position: absolute;
  margin-top: 16px;
  margin-left: 200px;
}
.ArrowNone {
  display: none;
}
.noselectDeleteIcon {
  user-select: none;
  opacity: 0.4;
  margin-left: auto;
}
.selectDeleteIcon {
  user-select: all;
  cursor: pointer;
  margin-left: auto;
  :hover {
    opacity: 0.8;
  }
}

.inputBox {
  display: flex;
  margin: auto;
  .inputs {
    margin: auto;

    input {
      margin: 10px;
    }
    button {
      margin: 5px;
    }
  }
}

.error {
  color: red;
}
