.is_modal {
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: #fff;
  padding: 10px;
  z-index: 1000;
  height: 200px;
  width: 40vw;
  .close_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    text-align: right;
  }
  :hover {
    opacity: 0.8;
  }
}

.loading {
  padding: 10vw;
}
